In [1]:
import mysql.connector as conn

# Connect to MySQL
db = conn.connect(
    host='localhost',
    user='root',
    password='123456789zxcvbnm'
)

# Create cursor
cursor = db.cursor(buffered=True)

In [2]:
### 创建并使用数据库
# 创建数据库
cursor.execute("CREATE DATABASE IF NOT EXISTS library_management_system")
print("Database 'library_management_system' created successfully")

# 选择数据库
cursor.execute("USE library_management_system")
print("Switched to database 'library_management_system'")

Database 'library_management_system' created successfully
Switched to database 'library_management_system'

创建数据库中的表；

In [12]:
cursor.execute("DROP TABLE Borrow")

In [21]:
### 创建借阅表

cre_tb_borrow = '''CREATE TABLE Borrow
                   (BorrowID CHAR(6) NOT NULL PRIMARY KEY,
                    ReaderID CHAR(8),
                    BookID CHAR(6),
                    BorrowDate DATE,
                    ReturnDate DATE);'''
cursor.execute(cre_tb_borrow)
db.commit()

In [10]:
### 创建书籍信息表

cre_tb_bookinfo = '''CREATE TABLE BookInfo
                      (BookID CHAR(6) PRIMARY KEY,
                       Book_Name VARCHAR(255),
                       AuthorName VARCHAR(255),
                       Publisher VARCHAR(255),
                       PublishDate DATE,
                       BookCategory VARCHAR(255)); '''


cursor.execute(cre_tb_bookinfo)
db.commit()

In [13]:
### 创建读者信息表
cre_tb_readerinfo = '''CREATE TABLE ReaderInfo
                        (ReaderID CHAR(8) PRIMARY KEY,
                         BookID CHAR(6),
                         ReaderType VARCHAR(255),
                         Name VARCHAR(255),
                         BorrowCount INT,
                         Gender VARCHAR(10),
                         WorkUnit VARCHAR(255),
                         Email VARCHAR(255),
                         Phone INTEGER); '''

cursor.execute(cre_tb_readerinfo)
db.commit()

插入信息

In [17]:
### 向表 BookInfo 插入数据信息
book_info_data = [
    ('B00001', 'To Kill a Mockingbird', 'Harper Lee', 'HarperCollins', '1960-07-11', 'Fiction'),
    ('B00002', '1Q84', 'George Orwell', 'HarperCollins', '1949-06-08', 'Science Fiction'),
    ('B00003', 'The Catcher in the Rye', 'J.D. Salinger', 'Little, Brown and Company', '1951-07-16', 'Fiction'),
    ('B00004', 'Pride and Prejudice', 'Jane Austen', 'T. Egerton, Whitehall', '1813-01-28', 'Romance'),
    ('B00005', 'To the Lighthouse', 'Virginia Woolf', 'Hogarth Press', '1927-05-05', 'Modernism'),
    ('B00006', 'The Great Gatsby', 'F. Scott Fitzgerald', 'Springer', '1925-04-10', 'Fiction'),
    ('B00007', 'Moby-Dick', 'Herman Melville', 'Harper & Brothers', '1851-10-18', 'Adventure'),
    ('B00008', 'The Hobbit', 'J.R.R. Tolkien', 'Springer', '1937-09-21', 'Fantasy'),
    ('B00009', 'Brave New World', 'Aldous Huxley', 'Chatto & Windus', '1932-10-01', 'Science Fiction'),
    ('B00010', 'The Lord of the Rings', 'J.R.R. Tolkien', 'George Allen & Unwin', '1954-07-29', 'Fantasy'),
    ('B00011', 'Python Crash Course', 'Eric Matthes', 'No Starch Press', '2019-05-03', 'Computer Science'),
    ('B00012', 'Deep Learning', 'Ian Goodfellow', 'MIT Press', '2016-11-18', 'Artificial Intelligence'),
    ('B00013', 'The C Programming Language', 'Dennis Ritchie', 'Prentice Hall', '1978-02-22', 'Computer Science'),
    ('B00014', 'Data Science for Business', 'Foster Provost', 'MIT Press', '2013-07-24', 'Data Science'),
    ('B00015', 'The Elements of Statistical Learning', 'Trevor Hastie', 'Springer', '2009-07-01', 'Statistics'),
    ('B00016', 'Introduction to Algorithms', 'Thomas H. Cormen', 'MIT Press', '2009-07-31', 'Computer Science'),
    ('B00017', 'Artificial Intelligence', 'Prentice Hall', 'HarperCollins', '1995-08-11', 'Artificial Intelligence'),
    ('B00018', 'Big Data', 'Viktor Mayer-Schönberger', 'Springer', '2013-03-05', 'Big Data')
]

insert_query = "INSERT INTO BookInfo (BookID, Book_Name, AuthorName, Publisher, PublishDate, BookCategory) VALUES (%s, %s, %s, %s, %s, %s)"

cursor.executemany(insert_query, book_info_data)
db.commit()

In [19]:
### 向表 ReaderInfo 插入信息
reader_info_data = [
    ('R0000001', 'B00001', 'Student', 'Alice', 2, 'Female', 'XYZ School', 'alice@example.com', 567890),
    ('R0000002', 'B00002', 'Faculty', 'Bob', 3, 'Male', 'ABC University', 'bob@example.com', 543210),
    ('R0000003', 'B00003', 'Student', 'Charlie', 1, 'Male', 'PQR College', 'charlie@example.com', 450123),
    ('R0000004', 'B00004', 'Faculty', 'David', 4, 'Male', 'DEF Institute', 'david@example.com', 789456),
    ('R0000005', 'B00005', 'Student', 'Eve', 2, 'Female', 'UVW Academy', 'eve@example.com', 238901),
    ('R0000006', 'B00006', 'Student', 'Frank', 3, 'Male', 'LMN School', 'frank@example.com', 901234),
    ('R0000007', 'B00007', 'Faculty', 'Grace', 1, 'Female', 'GHI University', 'grace@example.com', 890567),
    ('R0000008', 'B00008', 'Student', 'Harry', 2, 'Male', 'JKL College', 'harry@example.com', 345012),
    ('R0000009', 'B00009', 'Faculty', 'Ivy', 3, 'Female', 'MNO Institute', 'ivy@example.com', 675345),
    ('R0000010', 'B00010', 'Student', 'Jack', 1, 'Male', 'STU Academy', 'jack@example.com', 905678),
    ('R0000011', 'B00011', 'Student', 'Lily', 2, 'Female', 'XYZ School', 'lily@example.com', 234501),
    ('R0000012', 'B00012', 'Faculty', 'Mike', 3, 'Male', 'ABC University', 'mike@example.com', 567234),
    ('R0000013', 'B00013', 'Student', 'Nancy', 1, 'Female', 'PQR College', 'nancy@example.com', 890567)
]


insert_query = "INSERT INTO ReaderInfo (ReaderID, BookID, ReaderType, Name, BorrowCount, Gender, WorkUnit, Email, Phone) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)"

cursor.executemany(insert_query, reader_info_data)
db.commit()

In [24]:
borrow_data = [
    ('BK0001', 'R0000001', 'B00001', '2024-06-01', '2024-06-15'),
    ('BK0002', 'R0000002', 'B00002', '2024-06-02', '2024-06-16'),
    ('BK0003', 'R0000003', 'B00003', '2024-06-03', '2024-06-17'),
    ('BK0004', 'R0000004', 'B00004', '2024-06-04', '2024-06-18'),
    ('BK0005', 'R0000005', 'B00005', '2024-06-05', '2024-06-19'),
    ('BK0006', 'R0000006', 'B00006', '2024-06-06', '2024-06-20'),
    ('BK0007', 'R0000007', 'B00007', '2024-06-07', '2024-06-21'),
    ('BK0008', 'R0000008', 'B00008', '2024-06-08', '2024-06-22'),
    ('BK0009', 'R0000009', 'B00009', '2024-06-09', '2024-06-23'),
    ('BK0010', 'R0000010', 'B00010', '2024-06-10', '2024-06-24'),
    ('BK0011', 'R0000011', 'B00011', '2024-06-11', '2024-06-25'),
    ('BK0012', 'R0000012', 'B00012', '2024-06-12', '2024-06-26'),
    ('BK0013', 'R0000013', 'B00013', '2024-06-13', '2024-06-27')
]

insert_query = "INSERT INTO Borrow (BorrowID, ReaderID, BookID, BorrowDate, ReturnDate) VALUES (%s, %s, %s, %s, %s)"

cursor.executemany(insert_query, borrow_data)
db.commit()