## ch01:

### 初识数据库学习记录

In [1]:
import mysql.connector as conn

db = conn.connect(
    host='localhost',
    user='root',
    password='123456789zxcvbnm',
    database = 'shop',
)

# 创建游标对象，以便执行 SQL 语句
cursor = db.cursor()

##### SQL 的标准语句可以分为三类
  * __DDL__(数据定义语言): 用来创建或者删除存储数据用的数据库以及数据库中的表等对象。
  * <u>__DML__(数据操纵语言)</u>: 用来查询或者变更表中的记录。
  * __DCL__(数据控制语言): 用来确认或者取消对数据库中的数据进行的变更。除此之外，还可以对 RDBMS 的用户是否有权限操作数据库中的对象（数据库表等）进行设定。

In [2]:
### 进行表的创建
create_table_query = """create table product1
         (product_id CHAR(4) NOT NULL,
          product_name VARCHAR(100) NOT NULL,
          product_type VARCHAR(32) NOT NULL,
          sale_price INTEGER ,
          regist_date DATE ,
          PRIMARY KEY (product_id))"""
cursor.execute(create_table_query)
db.commit()

##### 数据类型
数据库创建的表，所有的列都必须指定数据类型，每一列都不能存储与该列数据类型不符的数据。有四种最基本的数据类型：
1. INTEGER 型
2. CHAR 型
3. VARCHAR 型
4. DATE 型
##### 约束的设置
约束是除了数据类型之外，对列中存储的数据进行限制或者追加条件的功能。   
```NOT NULL```是非空约束，即该列必须输入数据。   
```PRIMARY KEY```是主键约束，代表该列是唯一值，可以通过该列取出特定的行的数据。

In [3]:
### 表的删除和更新
# 删除表的语法：DROP TABLE < 表名 > ;
drop_table_product1 = """drop table product1""" # 删除表 product1
cursor.execute(drop_table_product1)
db.commit()

# 添加列的 ALTER TABLE 语句: ALTER TABLE < 表名 > ADD COLUMN < 列的定义 >;
add_column_product_name_pinyin = """ALTER TABLE product ADD COLUMN product_name_pinyin VARCHAR(100)"""
cursor.execute(add_column_product_name_pinyin)
db.commit()

In [4]:
# 删除列的 ALTER TABLE 语句: ALTER TABLE < 表名 > DROP COLUMN < 列名 >;
drop_column_product_name_pinyin = """ALTER TABLE product DROP COLUMN product_name_pinyin"""
cursor.execute(drop_column_product_name_pinyin)
db.commit()

删除表中特定的行: `DELETE FROM <列名> WHERE COLUMN_NAME='XXX'` 。          
清空表内容: `TRUNCATE TABLE TABLE_NAME;`。

##### 数据的更新
```UPDATE <表名>
   SET <列名> = <表达式> [, <列名2>=<表达式2>...]  
 WHERE <条件>  -- 可选，非常重要
 ORDER BY 子句  --可选
 LIMIT 子句; --可选```

In [7]:
### 数据的更新

# 修改所有的注册时间
update_regist_data = '''UPDATE product
                             SET regist_date = '2009-10-10' ''' 
cursor.execute(update_regist_data)
db.commit()

# 仅修改部分商品的单价
"""update_part_sale_price = '''UPDATE product
                               SET sale_price = sale_price * 10 
                               WHERE product_type = '厨房用具' '''
    cursor.execute(update_part_sale_price)
    db.commit()
"""

In [8]:
### 插入数据
create_table = '''CREATE TABLE product2
                  (product_id    CHAR(4)      NOT NULL,
                  product_name   VARCHAR(100) NOT NULL,
                  product_type   VARCHAR(32)  NOT NULL,
                  sale_price     INTEGER      DEFAULT 0,
                  purchase_price INTEGER ,
                  regist_date    DATE ,
                  PRIMARY KEY (product_id))'''
cursor.execute(create_table)
db.commit()

##### 插入数据
`INSERT INTO <表名> (列1, 列2, 列3, ……) VALUES (值1, 值2, 值3, ……);  `     
INSERT 语句中想给某一列赋予 NULL 值时，可以直接在 VALUES子句的值清单中写入 NULL。想要插入 NULL 的列一定不能设置 NOT NULL 约束。

In [11]:
# 对表进行全列 INSERT
insert_data = '''INSERT INTO product2 (product_id, product_name, product_type, sale_price, purchase_price, regist_date) VALUES ('0005', '高压锅', '厨房用具', 6800, 5000, '2009-01-15')'''
cursor.execute(insert_data)
db.commit()

# 插入多行
insert_data1 = '''INSERT INTO product2 VALUES ('0002', '打孔器', '办公用品', 500, 320, '2009-09-11'),
                                                ('0003', '运动T恤', '衣服', 4000, 2800, NULL),
                                                ('0004', '菜刀', '厨房用具', 3000, 2800, '2009-09-20')'''
cursor.execute(insert_data1)
db.commit()

In [ ]:
### 练习
# 1.1
create_table_addressbook = '''CREATE TABLE  Addressbook
                              (regist_no    INTEGER        NOT NULL;
                              name          VARCHAR(128)   NOT NULL;
                              address       VARCHAR(256)   NOT NULL;
                              tel_no        CHAR(10);
                              mail_address  CHAR(20);
                              PRIMARY KEY (regist_no))'''
cursor.execute(create_table_addressbook)
db.commit()

# 1.2
add_column = '''ALTER TABLE Addressbook ADD COLUMN postal_code CHAR(8) NOT NULL'''
cursor.execute(add_column)
db.commit()

# 1.3
''' 
删除表: DROP TABLE Addressbook
'''

# 1.4
'''
问：是否可以编写 SQL 语句来恢复删除掉的 Addressbook 表？
答：不能，删除的表是无法恢复的，只能重新插入，请执行删除操作时要特别谨慎。
'''